# Dependencies
web/node_modules/
/server

# Build outputs
internal/web/dist/
web/dist/

aptify
/bin/*
# Data volumes
data/
apt-data/
mysql-data/
*.sqlite
*.sqlite-wal
*.sqlite-shm
apt-repository

# Environment
.env
dist
testdata